---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Kenalan Yuk Dengan Raditya!"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Salam, dunia! Saya adalah <mark>Raditya Alia Pratama</mark>, dan saya senang bisa berbagi sedikit lebih dalam tentang diri saya. Lahir pada tanggal <mark>1 Juli 2008</mark>, saya telah menjalani perjalanan hidup yang penuh warna dan penuh semangat. Saat ini, <mark>saya tengah menekuni pendidikan di SMK Nusantara 1 Kota Tangerang, mengambil jurusan PPLG (Pengembangan Perangkat Lunak & Gim)</mark>. Ini adalah salah satu langkah penting dalam mewujudkan impian besar saya dalam dunia teknologi.
  </p>

  <p>
    Dunia teknologi adalah panggilan jiwa bagi saya. Sejak masa kecil, saya telah merasa terpanggil untuk memahami dan menguasai bahasa pemrograman. Ini adalah sesuatu yang membuat hati saya berdetak lebih kencang dan memicu rasa ingin tahu yang tak tergoyahkan. Pendidikan di SMK Nusantara 1 Kota Tangerang memberikan sarana yang luar biasa bagi saya untuk mengejar hasrat ini dengan sungguh-sungguh. Saya berusaha keras untuk terus mengasah keterampilan teknis saya, menjelajahi berbagai alat dan teknologi terbaru, dan memahami prinsip-prinsip fundamental di balik perangkat lunak dan gim yang canggih.
	</p>

  <p>
   Namun, hidup tidak hanya tentang belajar dan bekerja keras. Di luar dunia pemrograman, saya menemukan kebahagiaan dan inspirasi dalam bermain game online. Ini bukan hanya sekadar hobi, tetapi juga sumber ide dan energi positif bagi saya. Game-game tersebut memicu imajinasi saya, mengajarkan saya tentang desain interaktif, dan memberi wawasan tentang tren teknologi yang sedang berkembang.
	</p>

  <p>
   Lebih dari sekadar menguasai bahasa-bahasa pemrograman, saya bermimpi untuk menciptakan dampak positif di dunia nyata. Impian terbesar saya adalah menjadi seorang programmer yang berperan dalam menciptakan solusi teknologi inovatif yang dapat mengatasi tantangan nyata dalam masyarakat. Saya percaya bahwa teknologi adalah kekuatan besar yang bisa membawa perubahan positif, dan saya ingin menjadikan diri saya sebagai agen perubahan yang memberikan sumbangsih dalam membangun masa depan yang lebih baik.
	</p>

  <p>
   Terima kasih telah meluangkan waktu untuk mengenal saya lebih jauh. Saya sangat bersemangat dalam perjalanan ini dan berharap bisa berbagi inspirasi, pengetahuan, dan prestasi dengan Anda semua. Mari bersama-sama menjelajahi dunia teknologi yang menarik dan penuh potensi!
	</p>
</Layout>
